#anime{
display:block;
text-align: center;
}
#mainsub{
    display:none;
    text-align: center;
}
#submain{
    display:block;
    text-align: center;
}

#game{
    display:none;
    text-align: center;
}
#gameh{
    display:none;
    text-align: center;
}
#lowhigh{
    display:none;
    text-align: center;
}
#re{
    display:none;
    text-align: center;
}
#sudheading{
    display: none;
    text-align: center;
}
#ans{
    text-align: center;
}
body{
    background-color: aquamarine;
}
button{
    border-radius: 15px;
}