body {
    font-family: Arial, sans-serif;
    background-color: hsl(0, 0%, 95%);
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

h1 {
    font-size: 3rem;
    color: #333;
    margin-bottom: 20px;
}

.container {
    margin: 20px;
    background: #f4f9ff;
    padding: 30px 50px;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    min-width: 320px;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: all 0.3s ease;
}

.container:hover {
    transform: scale(1.02);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

button {
    padding: 10px 20px;
    font-weight: bold;
    font-size: 1.1rem;
    background-color: hsl(212, 15%, 50%);
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    margin: 10px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color:hsl(212, 15%, 70%);
}

button:focus {
    outline: none;
    box-shadow: 0 0 10px rgba(255, 87, 34, 0.5);
}

.backButton {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 100px;
    cursor: pointer;
    margin-bottom: 20px;
    position: absolute;
    top: 20px;
    right: 20px;
    transition: background-color 0.3s ease;
}

.backButton:hover {
    background-color: #0056b3;
}

h3 {
    color: #333;
    font-size: 1.5rem;
    margin-bottom: 20px;
}

ul {
    list-style-type: none;
    padding: 0;
    width: 100%;
    margin-top: 10px;
}

li {
    width: 100%;
    margin: 10px 0;
}

.end-screen {
    text-align: center;
    padding: 20px;
    background-color: #f1f1f1;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
}

.end-screen h2 {
    font-size: 2rem;
    margin-bottom: 10px;
    color: #333;
}

.end-screen p {
    font-size: 1.2rem;
    margin-bottom: 20px;
    color: #555;
}

.error {
    color: red;
    font-weight: bold;
    font-size: 1.2rem;
    margin-top: 20px;
}
